certifi==2022.6.15.1
charset-normalizer==2.1.1
greenlet==1.1.2
idna==3.3
playwright==1.25.2
pyee==8.1.0
requests==2.28.1
typing_extensions==4.3.0
urllib3==1.26.12
websockets==10.1


authorization: 
Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA

authorization: 
Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
